body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    padding: 20px;

    background-image: url(Imagenes/shein-bolsas-948.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
    margin: auto;
}

nav a {
    color: #fff;
    text-decoration: none;
    padding: 0 20px;
}

nav ul {
    list-style: none;
    display: flex;
}

h1 {
    text-align: center;
    color: #333;
}

form {
    background-color: #DCDCDC;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    max-width: 600px;
    margin: auto;
}

fieldset {
    border: 1px solid grey;
    border-radius: 5px;
    margin-bottom: 20px;
    padding: 10px;
}

legend {
    padding: 0 10px;
    font-weight: bold;
}

label {
    display: block;
    margin: 10px 0 5px;
}

input[type="text"],
input[type="email"],
input[type="tel"],
input[type="number"],
input[type="month"],
textarea {
    width: calc(100% - 22px);
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid grey;
    border-radius: 4px;
}

input[type="radio"] {
    margin-right: 5px;
}


